/*Global Styles*/
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.text-muted{
  padding-top: 8px;
  color: #777;
}

/*Navigator*/
.navbar-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/*Set hover colour*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #BB0A24;  
}

/*navbar-brand color*/
.navbar-default .navbar-brand {
    color: #fff;

}
/*navbar-brand color on hover*/
.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  color: #BB0A24; ;
}

/*Change colour of active nav text*/
.navbar-default .navbar-nav > li > a {
   color: #fff; 
   font-size: medium;
}

.navbar-wrapper > .container{
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar{
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container{
    width: auto;
}

/*custom nav height*/
.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

/*Carousel*/

.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* Mision */

.mision {
    padding: 50px 0;
}

.text-primary{
  color: #BB0A24;
}
.mision-item{
  height: 320px;
}

ul.mision-list{
  padding-top: 10px;
}
li.mision-list-item{

  margin: 0 0 15px 0;
  font-size: 16px;
  font-weight: 200px;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

/*Nosotros*/

.nosotros {
    padding: 50px 0;
    background-color: #000;
}

.nosotros-item {
    margin-bottom: 30px;
}

.nosotros-list{
  padding-left: 40px;
}
/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
    border-width: 5px;
}
.team-member{
  text-align:center;margin-bottom:50px
}

.team-member img{
  margin:0 auto;border:7px solid #BB0A24
}

.team-member h4{
  margin-top:25px;margin-bottom:0;text-transform:none
}

.team-member p{
  margin-top:0
}

.team-description{
  padding-bottom: 50px;
}
/*consultoria*/
.consultoria{
  background-color: #BB0A24;
  color: #fff;
  padding-top: 55px;
  padding-bottom: 40px;
}

.consultoria-item{
  height: 320px;
}

.btn{
  color: #BB0A24;
  font-size: 14px;
  font-weight: 600;
  padding: 10px ;
  border: transparent;
}

.btn:hover{
  color: #fff;
  background-color: #BB0A24;
  border: transparent;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  -ms-transition: all, .35s;
  transition: all .35s;

}
/*investigation*/
.investigation{
  padding: 50px 0;
}
/*Capacitation*/

.courses{
  padding: 50px 0;
  background-color: #000;
  color: #fff;
}

.courses-item {
    margin-bottom: 30px;
}

.img-courses {
    margin: 0 auto;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: #BB0A24;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

/*Contactanos*/
.contactanos{
  background-color: #BB0A24;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contactanos-heading {
  margin-bottom: 20px;
  text-align: center;
  color: #FFFFFF;
}
.contactanos-divider {
    max-width: 100px;
    padding-bottom: 30px;
}
.contactanos-paragraph{
  font-weight: 300;
  text-align: left;
  padding-left: 32%;
  color: #fff;
}

/* Footer */

footer {
    padding: 5px 0;
    margin-top: 20px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .contactanos-heading {
    font-size: 32px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}